.aboutContainer {
    width: 100%;
    height: 100vh;
    font-family: 'Inter';
    font-style: normal;
    font-size: 1.8rem;
    line-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutWrapper {
    justify-content: center;
    align-items: center;
    width: 50%;
}

.aboutText {
    color: #1A2744;
}

.last {
    text-align: center;
}

.listCenter {
    justify-content: center;
    width: 100%;
    display: flex;
}

.listContainer {
    width: 50%;
    column-count: 2;
    list-style-position: inside;
    list-style: none;
    line-height: 2vw;
    font-size: 1.5vw;
    margin: 0;
    padding: 0;
    margin-bottom: 2vw;
    margin-top: 1vw;
}

.listContainer li {
    color: #1A2744;
}

.slick-dots li button:before {
    color: #1A2744 !important;
    font-size: 1vw !important;
    line-height: 1vw !important;
}

.slick-dots li.slick-active button:before {
    color:#09142a !important;
    font-size: 1vw !important;
    line-height: 1vw !important;
}

ul.slick-dots {
    bottom: -5vw;
}


.slick-track {
    top: 1rem !important;
    cursor: grab;
}

.slick-track:active {
    cursor: grabbing;
}

@media screen and (max-width: 1000px) {
    .aboutContainer {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .aboutWrapper {
        width: 50%;
    }

    .slick-track {
        top: 1rem !important;
        cursor: grab;
    }

    .listContainer {
        width: 50%;
        column-count: 1;
        list-style-position: inside;
        list-style: none;
        line-height: 1.5rem;
        font-size: 1rem;
        margin: 0;
        padding: 0;
        margin-bottom: 2vw;
        margin-top: 1vw;
    }

    .slick-dots li.slick-active button:before {
        font-size: 1rem !important;
        line-height: 1rem !important;
    }

    .slick-dots li button:before {
        color: #1A2744 !important;
        font-size: 1rem !important;
        line-height: 1rem !important;
    }

    ul.slick-dots {
        bottom: -5rem;
    }

    .slick-list {
        padding-bottom: 2vh !important; 
    }
}

