.aboutContainer {
    width: 100%;
    height: 100vh;
    font-family: 'Inter';
    font-style: normal;
    font-size: 2rem;
    line-height: 3.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutWrapper {
    justify-content: center;
    align-items: center;
    width: 50%;
}

.aboutText {
    color: #1A2744;
}

.last {
    text-align: center;
}

.listCenter {
    justify-content: center;
    width: 100%;
    display: flex;
}

.listContainer {
    width: 50%;
    column-count: 2;
    list-style-position: inside;
    list-style: none;
    line-height: 2.5rem;
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.listContainer li {
    color: #1A2744;
}

.slick-dots li button:before {
    color: #1A2744 !important;
    font-size: 1rem !important;
    line-height: 1rem !important;
}

.slick-dots li.slick-active button:before {
    color:#09142a !important;
    font-size: 1rem !important;
    line-height: 1rem !important;
}

ul.slick-dots {
    bottom: -5rem;
}


.slick-track {
    top: 1rem !important;
    cursor: grab;
}

.slick-track:active {
    cursor: grabbing;
}


