.appBody {
    height: 100vh;
}

.topNav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

.linksContainer {
    position: fixed;
    bottom: 0;
}

.topNav--hidden {
    top: 0;
}

