.educationWrapper {
    width: 100%;
    height: 100vh;
    font-family: 'Inter';
    font-style: normal;
    font-size: 1.8vw;
    line-height: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1A2744;

}

.educationTitleContainer {
    font-weight: bold;
}

.educationBodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.educationBodyHeader {
    width: 100%;
    margin-top: 2vw;
    font-size: 1.5vw;
    float: left;
    font-weight: bold;
}

.educationColumnSection {
    columns: 1;
    list-style:inside;
    text-align: left;
    font-size: 1.25vw;
    line-height: 2vw;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.educationItem {
    display: flex;
    columns: 1;
    list-style:inside;
    text-align: left;
    font-size: 1.25vw;
    line-height: 2vw;
    margin: 0;
    margin-left: 1vw;
    padding: 0;
}

.certificateIcon {
    transform: translateY(.1vw);
}

.two {
    margin-left: .65vw;
}

@media screen and (max-width: 500px) {
    .educationWrapper {
        font-size: 1.25rem;
        line-height: 1rem;
    }

    .educationBodyHeader {
        margin-top: 2rem;
        margin-bottom: .5rem;
        font-size: 1rem;
    }

    .educationBodyHeader {
        width: 100%;
    }

    .educationColumnSection {
        font-size: .8rem;
        line-height: 1.25rem;
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .certificateIcon {
        transform: scale(2.5) translateY(-.2vw);
        padding-left: .2rem;
    }
}