.educationWrapper {
    width: 100%;
    height: 100vh;
    font-family: 'Inter';
    font-style: normal;
    font-size: 1.8rem;
    line-height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1A2744;

}

.educationTitleContainer {
    font-weight: bold;
}

.educationBodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.educationBodyHeader {
    width: 100%;
    margin-top: 2rem;
    font-size: 1.5rem;
    float: left;
    font-weight: bold;
}

.educationColumnSection {
    columns: 1;
    list-style:inside;
    text-align: left;
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.educationItem {
    display: flex;
    columns: 1;
    list-style:inside;
    text-align: left;
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 0;
    margin-left: 1rem;
    padding: 0;
}

.certificateIcon {
    transform: translateY(.1rem);
}

.two {
    margin-left: .65vw;
}

@media screen and (max-width: 1000px) {
    .educationWrapper {
        font-size: 1.5rem;
        line-height: 1rem;
    }

    .educationBodyWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .educationBodySection {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        float: none;
    }

    .educationBodyContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    .educationBodyHeader {
        margin-top: 2rem;
        margin-bottom: .5rem;
        font-size: 1rem;
    }

    .educationBodyHeader {
        width: 100%;
    }

    li {
        padding-left: 1rem;
    }

    .educationColumnSection {
        font-size: 1rem;
        line-height: 1.25rem;
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .certificateIcon {
        transform: translateY(.2rem);
    }
}