.homeContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameContainer {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 1000;
    font-size: 4rem;
    line-height: 91px;
    text-align: center; 
    color: #1A2744;
}

.typewriterComponent {
    font-family: 'Inter';
    font-size: 2rem;
    text-align: center; 
    color: white;
    background-color: rgb(255, 127, 63);
    height: 2.5rem;
}

.imgContainer {
    margin: 0;
    position: absolute;
    z-index: -10;
    bottom: 0;
    left: 0;
    height: 500px;
}

.downArrowContainer {
    position: absolute;
    justify-content: center;
    bottom: 75px;
    animation: bounce 1.5s infinite;
}

.downArrowElement {
    transform: scale(3.5);
}

.downArrowIcon {
    color: #1A2744;
}

@keyframes bounce {
    0%  {bottom: 75px;}
    50% {bottom: 50px;}
    0% {bottom: 75px;}
 } 