.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    width:100%;
    height: 100vh;  
    position: relative; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: -webkit-fill-available;
    max-height: -webkit-fill-available;
}

.nameContainer {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 1000;
    font-size: 3.25rem;
    line-height: 3rem;
    text-align: center; 
    color: #1A2744;
}

.typewriterComponent {
    font-family: 'Inter';
    font-size: 1.25rem;
    text-align: center;
    justify-content: center; 
    color: white;
    padding-top: .1rem;
    background-color: rgb(255, 127, 63);
    height: 1.6rem;
}

.imgContainer {
    margin: 0;
    position: absolute;
    z-index: -10;
    bottom: 0;
    left: 0;
    width: 30rem;
    height: 30rem;
}

.kevPNG {
    width: 100%;
}

.downArrowContainer {
    position: absolute;
    justify-content: center;
    bottom: 75px;
    animation: bounce 1.5s infinite;
}

.downArrowIcon {
    color: #1A2744;
}

.clickMeContainer {
    display: none;
}

.downArrowElement {
    font-size: 5rem !important;
}

@keyframes bounce {
    0%  {bottom: 75px;}
    50% {bottom: 50px;}
    0% {bottom: 75px;}
} 


@media screen and (max-width: 1000px) {
    .downArrowElement {
        font-size: 1.3rem !important;
    }

    .homeContainer {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .nameContainer {
        padding-top: 10rem;
        background-color: white;
        font-size: 3rem;
        line-height: 2.5rem;
    }

    .typewriterComponent {
        width: 100%;
        font-size: 1.25rem;
        height: 1.5rem;
    }

    .imgContainer {
        width: auto;
        height: auto;
        position: absolute;
        align-items: center;
        z-index: -10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .downArrowElement {
        font-size: 2.5rem !important;
    }

    .downArrowContainer {
        background-color: rgb(255, 127, 63);
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .downArrowIcon {
        color: white;
        transform: translateY(.2rem);
    }
}