.linksContainer {
    position: fixed;
    left: 1.7rem;
    transition: bottom .6s;
    transform: scale(1);
}

.linksWrapper {
    display: flex;
    flex-direction: column;
    bottom: 0;
}

.linksWrapper a {
   margin-bottom: .5rem;
   color: #1A2744;
   transition: 0s;
   transition: transform .5s;
}

.lineBlock {
    border-left: .3rem solid #1A2744;
    height: 7rem;
    margin-left: 1rem;
}

.linksWrapper a:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: transform .6s;
}

@media screen and (max-width: 1000px) {
    .linksContainer {
        position: fixed;
        left: .5rem;
        transition: bottom .6s;
    }

    .linksWrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: .5rem;
    }

    .linksWrapper a {
        margin-bottom: .5rem;
        color: #1A2744;
        transition: 0s;
        transition: transform .5s;
    }

    .lineBlock {
        display: none;
    }
}