.navBarContainer {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 1vw;
    line-height: 1vw;
    text-align: center;
    background-color: white;
    color: #1A2744;
}

.navBarContainer a {
    float: left;
    padding: 1vw 1vw;
    text-decoration: none;
    color: #1A2744;
}

.navBarContainer a:hover {
    cursor: pointer;
}

.navBarRight {
    float: right;
}

.navBarRight a {
    background: linear-gradient(to left, white 50%, #1A2744 50%) right;
    background-size: 250%;
    transition: .5s ease-out;
}

.navBarRight a:hover {
    background-position: left;
    color: white;
    cursor: pointer;
}

.navButton {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
    padding: 1vw;
    color: black;
    font-size: 5vw;
    width: 100%;
    height: 8vw;
    background-color: white;
}

.actualButton {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

@media screen and (max-width: 500px) {
    .navBarContainer {
        display: flex;
        flex-direction: column;
        font-size: 5vw;
        line-height: 10vw;
    }

    .homeButton {
        margin-top: 10vw;
    }

    .navBarRight {
        display: flex;
        flex-direction: column;
    }

    .navButton {
        display: block;
    }
}