.navBarContainer {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 1vw;
    line-height: 1vw;
    text-align: center;
    background-color: white;
    color: #1A2744;
}

.navBarContainer a {
    float: left;
    padding: 1vw 1vw;
    text-decoration: none;
    color: #1A2744;
}

.navBarContainer a:hover {
    cursor: pointer;
}

.navBarRight {
    float: right;
}

.navBarRight a:hover {
    background-color: #1A2744;
    color: white;
    cursor: pointer;
}