.projectsContainer {
    text-align: center;
    width: 100%;
    height: 400vh;
    font-family: 'Inter';
    font-style: normal;
    font-size: 1.8vw;
    justify-content: center;
    align-items: center;
    color: #1A2744;
}

a {
    text-decoration: underline;
    color: #1A2744;
}

.projectsTitle {
    font-weight: bold;
    margin-bottom: 4vw;
    padding-top: 7.5vw;
}

.projectsPadding {
    background-color: white;
    width: 100%;
    z-index: 2
}

.projectsSection {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    overflow-x: hidden;
    position: absolute;
}

.projectsCard {
    display: flex;
    border-radius: 1vw;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
}

.projectsCardR {
    display: flex;
    border-radius: 1vw;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
    flex-direction: row-reverse;
}

.projectsTitleSection {
    background-color: #1A2744;
    color: white;
    width: 16vw;
    height: 25vw;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.projectsTitleWrapper > a {
    margin: .5vw;
}

.projectsDescriptionSection {
    border: .05vw solid #303644 ;
    width: 40vw;
    font-size: .95vw;
    text-align: left;
    height: 20vw;
    display: flex;
    justify-content: center;   
    align-items: center;
    border-radius: 1vw;
    transition: transform 1s;
}

.projectsDescriptionSectionR {
    border: .05vw solid #303644 ;
    width: 40vw;
    font-size: .95vw;
    text-align: left;
    height: 20vw;
    display: flex;
    justify-content: center;   
    align-items: center;
    border-radius: 1vw;
    transition: transform 1s;    
}

.projectsDescriptionWrapper {
    margin: 2vw;
}

.projectName {
    font-size: 1.3vw;
    font-weight: bold;
}

.projectDate {
    font-size: .8vw;
    margin-bottom: 1vw;
}

.webIcon {
    text-decoration: none;
    color: white;
}

.toolsContainer {
    columns: 3;
    list-style: none;
    float: left;
    text-align: left;
}