.projectsContainer {
    text-align: center;
    width: 100%;
    height: 100vh;
    font-family: 'Inter';
    font-style: normal;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    color: #1A2744;
    flex-direction: column;
}

.projectsTitle {
    font-weight: bold;
    margin-bottom: 1rem;
    padding-top: 7.5rem;
}

.projectsSection {
    width: 100%;
    display: flex;
    justify-content: center;
}

.projectsCard {
    display: flex;
    border-radius: 1px;
    width: 80rem;
    justify-content: center;
    align-items: center;
}

.projectsTitleSection {
    background-color: #1A2744;
    color: white;
    width: 70rem;
    font-size: 1.5rem;
    height: 30rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectsDescriptionSection {
    border: 1px solid #1A2744 ;
    font-size: 1.25rem;
    text-align: right;
    height: 25rem;
    display: flex;
    justify-content: center;   
    align-items: center;
    border-radius: 1rem;
    transform: translate(-1rem);
}

.projectsDescriptionWrapper {
    margin: 2rem;
}

.webIcon {
    text-decoration: none;
    color: white;
}